.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

input {
    width: 250px;
    height: 26.8px;
}

button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.DeleteButton {
    color: rgb(255, 135, 155);
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.DeleteButton:hover {
    color: red;
    background-color: black;
}

.ClassItem {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 283.2px;
    height: 80px;
}